
  <div class="ui container">
    <div class="ui segments">
      <div class="ui segment accounts">
        <h1>თანხის გადარიცხვა</h1>
      </div>

      <div class="ui segment">
        <div class="ui form" [formGroup]="pmdForm">
          <div class="fields">
            <div class="nine wide field">
              <label>გამგზავნი ანგარიში</label>
              <select formControlName="sender">
                <option disabled="">აირჩიე</option>
                <option *ngFor="let acc of senderAcc" value="{{acc.accountKey}}">
                  {{acc.accountKey}} - {{acc.amount}}GEL ({{acc.accountName}})
                </option>
              </select>
              <ng-container *ngIf="get('sender').invalid && get('sender').touched">
                <p class="error" *ngFor="let error of errors('sender')">{{ error }}</p>
              </ng-container>
            </div>
          </div>

          <div class="fields">
            <div class="nine wide field">
              <label>მიმღები ანგარიში</label>
              <select formControlName="receiver">
                <option disabled="" value="">აირჩიე</option>
                <option *ngFor="let acc of receiverAcc" value="{{acc.accountKey}}">
                  {{acc.accountKey}} - {{acc.amount}}GEL ({{acc.accountName}})
                </option>
              </select>
              <ng-container *ngIf="get('receiver').invalid && get('receiver').touched">
                <p class="error" *ngFor="let error of errors('receiver')">{{ error }}</p>
              </ng-container>
            </div>
          </div>

          <div class="fields">
            <div class="nine wide field">
              <label>თანხა</label>
              <input type="number" formControlName="amount">
              <ng-container *ngIf="get('amount').invalid && get('amount').touched">
                <p class="error" *ngFor="let error of errors('amount')">{{ error }}</p>
              </ng-container>
            </div>

          </div>

          <div class="search-btn">
            <button class="ui left-aligned orange button" (click)="onTransfer()">გადარიცხვა</button>
          </div>

        </div>
      </div>
    </div>
  </div>
