<div class="left-sidebar">
  <div class="left-sidebar__user-section">
    <!-- TODO: Show User's name and picture here -->
    <div class="user-upper-section">
      <div class="user-image">
        <img alt="user image" src="{{image}}"></div>
      <div class="user-name">{{username}}</div>
    </div>
    <div class="user-lower-section">{{name}}</div>
  </div>
  <ul class="left-sidebar__pages-section">
    <li>
      <a href="#">
        <i class="home icon"></i>
        <span>მთავარი</span>
      </a>
    </li>
  </ul>
</div>
